/* Colores */
body,html{
    font-size: 62.5%;
}
$primary-gradient: linear-gradient(to right, #016c8e, #02a2a1);
$white: #ffffff;
$grey-bg: #f1f1f1;
$black-text: #141414;
$dark-blue: #016c8e;
$footer-blue: #002B4C;

/* Tipografía */
$font-primary: 'Poiret One', sans-serif; /* Fuente para títulos */
$font-secondary: 'Lato', sans-serif;    /* Fuente para párrafos */

/* Tamaños Tipográficos */
$font-size-title-lg: 6.4rem;
$line-height-title-lg: 6.9rem;

$font-size-title-sm: 3rem;
$line-height-title-sm: 3.4rem;

/* Tamaños generales */
$font-size-paragraph: 1.6rem;
$line-height-paragraph: 2.4rem;
