.nuestros-platos {
    .container {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 993px){
        display: grid;
        grid-template-columns: 25% 25% 42%; // First two columns are 20%, last column fills the rest
        grid-template-rows: 1fr; // Make the row stretch to fill the container
        grid-template-areas:
          "box-texto box-texto imagen-ostra"
          "imagen-risotto imagen-caballa imagen-ostra";
        gap: 4%; // Space between elements
    
        height: 100%; // Ensure the grid container takes up full height
        align-items: stretch; // Make all items stretch vertically
      }

  
      .box-texto {
        grid-area: box-texto; // Occupies the left column
        max-width: 100%;
        @media screen and (min-width: 993px){
          max-width: 70%;
        }
        h2 {
          margin-bottom: 1.5rem;
          @media screen and (min-width: 1257px){
            margin-bottom: 2rem;
          }
        }
        p {
          margin-bottom: 5rem;
           // Adjust space below
        }
      }

      .caption{
        text-align: right;
        margin-bottom: 1.5rem;
      }
  
      .imagen-risotto {
        grid-area: imagen-risotto;
        justify-self: stretch; // Stretch horizontally
        align-self: stretch; // Stretch vertically
        img {

        }
      }
  
      .imagen-caballa {
        grid-area: imagen-caballa;
        img {

        }
      }
  
      .imagen-ostra {
        grid-area: imagen-ostra; // Occupies the right column
        justify-self: flex-end; // Stretch horizontally
        align-self: flex-end; // Stretch vertically
        .caption{
            max-width: 70%;
            justify-self: flex-end;
            margin-bottom: 1rem;
        }
        img {
          width: auto;
          //max-height: 80%;
        }
      }
    }
  }
  
  .productos-frescos {
    h2 {
      margin-bottom: 1.5rem;
      text-align: left;
      @media screen and (min-width: 1257px){
        margin-bottom: 2rem;
      }
    }
  
    .container {
      display: flex;
      flex-direction: column;
    }
  
    .productos-frescos-wrapper {
      display: grid;
      grid-template-columns: 48% 20% 25%; // Tres columnas
      grid-template-rows: auto auto; // Dos filas
      gap: 3.5%; // Espaciado entre elementos
      height: 100vh; // Altura total para ocupar toda la vista
  
      .large-img {
        grid-column: 1 / 2; // Ocupa la primera columna (50% del ancho)
        grid-row: 1 / span 2; // Ocupa dos filas
        width: 100%;
        height: 100%; // Ocupa todo el alto
        object-fit: cover; // Asegura que la imagen se ajuste bien
      }
  
      .caption {
        grid-column: 2 / 3; // Segunda columna (25% del ancho)
        grid-row: 1; // Primera fila
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
  
      .small-img {
        grid-column: 3 / 4; // Última columna (25% del ancho)
        grid-row: 1; // Primera fila
        width: 100%;
        object-fit: cover; // Asegura que la imagen se ajuste bien
      }
  
      .wide-img {
        grid-column: 2 / 4; // Se extiende desde la segunda hasta la última columna (50% del ancho)
        grid-row: 2 / 3; // Segunda fila
        width: 100%;
        height: 100%; // Ocupa todo el alto
        object-fit: cover; // Asegura que la imagen se ajuste bien
      }
    }
  
    // Estilo responsivo
    @media (max-width: 768px) {
      .productos-frescos-wrapper {
        grid-template-columns: 1fr; // Cambia a una sola columna
        grid-template-rows: auto auto auto auto; // Ajusta las filas para cada elemento
  
        .large-img {
          grid-column: 1; // Una columna completa
          grid-row: 1; // Primera fila
        }
  
        .caption {
          grid-column: 1;
          grid-row: 2; // Segunda fila
        }
  
        .small-img {
          grid-column: 1;
          grid-row: 3; // Tercera fila
        }
  
        .wide-img {
          grid-column: 1;
          grid-row: 4; // Cuarta fila
        }
      }
    }
  }
  
  .lugar {
    .container {
      display: flex;
      flex-direction: column;
      width: 100%; /* Asegura que el container no exceda el ancho del padre */
  
      h2 {
        margin-bottom: 1.5rem;
        text-align: left;
        @media screen and (min-width: 1257px){
          margin-bottom: 2rem;
        }
      }
  
      .lugar-wrapper {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 993px){
          display: grid;
          grid-template-columns: 30% 67%; /* Cambia 30% y 70% a fracciones más adaptables */
          grid-template-rows: auto 1fr; /* Dos filas: texto e imágenes */
          column-gap: 2.5%; /* Espaciado entre columnas */
          row-gap: 1rem; /* Espaciado entre filas */
        }
        p {
          grid-column: 1 / 2; /* Primera columna */
          grid-row: 1 / span 2; /* Ocupa dos filas */
          margin-bottom: 2rem;
          @media screen and (min-width: 993px){
            margin-bottom: 0;
          }
        }
  
        img:first-of-type {
          grid-column: 1 / 2; /* Primera columna */
          grid-row: 2; /* Segunda fila */
          width: 100%;
          max-width: 100%; /* Restricción máxima para evitar desbordes */
          object-fit: cover; /* Ajusta la imagen sin deformarla */
          align-self: flex-end;
        }
  
        .caption {
          grid-column: 2 / 3; /* Segunda columna */
          grid-row: 1; /* Primera fila */
          text-align: right;
          max-width: 100%; /* Asegura que no desborde */
          justify-self: flex-end;
          @media screen and (min-width: 993px){
            max-width: 40%;
            
          }
        }
  
        img:last-of-type {
          grid-column: 2 / 3; /* Segunda columna */
          grid-row: 2; /* Segunda fila */
          width: 100%;
          max-width: 100%; /* Restricción máxima */
          object-fit: cover;
          justify-self: flex-end;
        }
      }
    }
  
    /* Estilo responsivo */
    @media (max-width: 768px) {
      .lugar-wrapper {
        grid-template-columns: 1fr; /* Una sola columna */
        grid-template-rows: auto auto auto auto; /* Reajusta filas para cada elemento */
  
        p {
          grid-column: 1; /* Toma toda la columna */
          grid-row: 1; /* Primera fila */
          margin-right: 0;
        }
  
        img:first-of-type {
          grid-column: 1; /* Toma toda la columna */
          grid-row: 2; /* Segunda fila */
        }
  
        .caption {
          grid-column: 1; /* Toma toda la columna */
          grid-row: 3; /* Tercera fila */
          text-align: center;
        }
  
        img:last-of-type {
          grid-column: 1; /* Toma toda la columna */
          grid-row: 4; /* Última fila */
        }
      }
    }
  }
  
  .equipo {
    .container {
      display: grid;
      grid-template-columns: 68% 30%; // Dos columnas principales
      grid-template-rows: auto auto auto; // Tres filas principales
      grid-template-areas:
        "titulo cocinero-atardecer"
        "texto cocinero-atardecer"
        "equipo cocinera-camarero"
        "equipo chef-atardecer"; // Chef al atardecer ocupa una fila completa
      gap: 2rem; // Espaciado general entre las áreas
  
      h2 {
        grid-area: titulo; // Zona del título arriba a la izquierda
        align-self: start;
        text-align: left;
        margin-bottom: 1rem;
      }
  
      p {
        grid-area: texto; // Zona del texto descriptivo
        width: 100%;
        margin-bottom: 1rem;
        @media screen and (min-width: 993px){
          width: 86%;
          margin-bottom: 0;
        }
      }
  
      img:nth-of-type(1) {
        grid-area: cocinero-atardecer; // Imagen del cocinero al atardecer
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      #foto-equipo{
        align-self: flex-end;
      }

      .cocinerotarde{
        max-height: 12rem;
        align-self: flex-end;
      }
  
      img:nth-of-type(2) {
        grid-area: equipo; // Imagen del equipo de cocineros (abajo a la izquierda)
        width: 100%;
        height: auto;
        object-fit: cover;
      }
  
      .imagenes-derecha {
        grid-area: cocinera-camarero; // Área de cocinera y camarero
        display: flex;
        gap: 1rem;
        height: 18rem;
        @media screen and (min-width: 993px){
          gap: 2rem;
        }
  
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
  
        img:nth-of-type(1) {
          grid-column: 1; // Imagen de la cocinera a la izquierda
        }
  
        img:nth-of-type(2) {
          grid-column: 2; // Imagen del camarero a la derecha
        }
      }
  
      img:nth-of-type(5) {
        grid-area: chef-atardecer; // Imagen del chef al atardecer (fila completa)
        width: 40%;
        height: auto;
        object-fit: cover;
      }
    }
  
    // Estilo responsivo
    @media (max-width: 768px) {
      .container {
        grid-template-columns: 1fr; // Una sola columna en dispositivos pequeños
        grid-template-rows: auto auto auto auto auto auto; // Una fila para cada elemento
        grid-template-areas:
          "titulo"
          "texto"
          "cocinero-atardecer"
          "equipo"
          "cocinera-camarero"
          "chef-atardecer";
        gap: 1rem;
      }
  
      h2,
      .caption {
        grid-column: 1; // Ocupan toda la columna
      }
  
      .imagenes-derecha {
        grid-template-columns: 1fr; // Cambia a una sola columna en móviles
        grid-template-rows: auto auto; // Una fila por imagen
      }
  
      img {
        grid-column: 1; // Ocupan toda la columna
        width: 100%;
      }
    }
  }
  