@import '../styles/variables';
@import '../styles/globals';

.hero {
  background: $primary-gradient;
  position: relative;

  .container {
    max-width: 120rem; /* 1200px */
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-content {
    flex: 1;
    max-width: 43.5rem; /* 435px */

    .hero-title {
      font-family: $font-primary;
      font-size: $font-size-title-lg;
      line-height: $line-height-title-lg;
      color: $white;
      margin-bottom: 2rem;
    }

    .hero-description {
      margin-bottom: 3rem;
      color: $white;
    }

    .hero-button {
      background-color: $white;
      color: darkblue;

      &:hover {
        background-color: #02a2a1;
        color: $white;
      }
    }
  }

  .hero-image-main {
    position: relative;
    width: 50rem; /* Tamaño del contenedor */
    height: 50rem;
    text-align: center;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotate(0deg); /* Rotación inicial */
      animation: rotate-circle 10s linear infinite; /* Animación */
    }

    text {
      font-family: $font-primary;
      font-size: 1.2rem;
      fill: $white;
      text-transform: uppercase;
      letter-spacing: 0.34rem;
    }

    .hero-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .hero-images {
    display: flex;
    gap: 4rem;
    align-items: flex-end;
    margin-bottom: -3rem;

    .hero-image {
      width: 30rem;
      height: 30rem;

      &.hero-image-small {
        height: 34.7rem;
      }

      &.hero-image-big {
        height: 47rem;
      }
    }
  }
}

/* Animación de rotación */
@keyframes rotate-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 76.8rem) { /* 768px */
  .hero {
    flex-direction: column;
    padding: 2rem;

    .container {
      flex-direction: column;
      text-align: center;
    }

    .hero-content {
      margin-bottom: 2rem;

      .hero-title {
        font-size: 2rem;
        line-height: 2.5rem;
      }

      .hero-description {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .hero-image-main {
      width: 15rem;
      height: 15rem;

      svg {
        font-size: 0.8rem;
      }
    }

    .hero-images {
      flex-direction: column;

      .hero-image {
        width: 90%;
        height: auto;
      }
    }
  }
}
