@import '../styles/variables'; /* Importa solo variables necesarias */
@import '../styles/globals';  /* Si los estilos globales incluyen variables, puedes usar solo esto */

.hero {
  background: $primary-gradient;

  .container {
    max-width: 120rem; /* 1200px */
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-content {
    flex: 1;
    max-width: 43.5rem; /* 435px */

    .hero-title {
      font-family: $font-primary; /* Fuente para títulos (Poiret One) */
      font-size: $font-size-title-lg;
      line-height: $line-height-title-lg;
      color: $white;
      margin-bottom: 2rem; /* 20px */
    }

    .hero-description {
      margin-bottom: 3rem; /* Mantiene 3rem */
      color: $white;
    }

    .hero-button {
      color: blue;
      background-color: $white;

      &:hover {
        background-color: #02a2a1;
        color: $white;
      }
    }
  }

  .hero-image-main {
    text-align: center;

    .hero-image {
      width: auto; 
      height: 52rem; 
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .hero-images {
    display: flex;
    gap: 2rem; /* 20px */

    .hero-image {
      width: 30rem; /* 300px */
      height: 40rem; /* 400px */
      object-fit: cover;
      border-radius: 1rem; /* 10px */
      box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2); /* 4px y 6px */
    }
  }
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 76.8rem) { /* 768px */
  .hero {
    flex-direction: column;
    padding: 2rem; /* 20px */

    .container {
      flex-direction: column;
      text-align: center;
    }

    .hero-content {
      margin-bottom: 2rem; /* 20px */

      .hero-title {
        font-size: 2rem; /* Mantiene el ajuste para pantallas pequeñas */
        line-height: 2.5rem;
      }

      .hero-description {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .hero-images {
      flex-direction: column;

      .hero-image {
        width: 90%; /* Mantiene 90% */
        height: auto;
      }
    }
  }
}
