.creaciones {
  margin-top: 6rem;
  @media screen and (min-width: 993px){
    margin-top: 12rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  
    @media screen and (min-width: 993px){
      flex-direction: row;
      gap: 10rem;
      
    }

    .creaciones-texto {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      @media screen and (min-width: 993px){
        flex-direction: column;
        max-width: 40%;
        justify-content: center;
      }


      h2 {
        margin-bottom: 1.5rem;
        @media screen and (min-width: 1257px){
          margin-bottom: 2rem;
        }
      }

      p {
        // Estilos para el párrafo
      }
    }

    .creaciones-imagenes {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      gap: 5%;
      margin-top: 2rem;
      @media screen and (min-width: 993px){
        max-width: 100%;
        justify-content: space-between;
        gap: 5%;
      }

      h2 {
        margin-bottom: 1.5rem;
        @media screen and (min-width: 1257px){
          margin-bottom: 2rem;
        }
      }

      img {
        height: auto;
        width: 30%;
        @media screen and (min-width: 993px){
          height: 45rem;
          width: auto;
        }
      }
    }
  }
}


  .entrantes {
    .container {
      display: flex;
      flex-direction: column;

      h2 {
        margin-bottom: 1.5rem;
        @media screen and (min-width: 1257px){
          margin-bottom: 2rem;
        }
      }
  
      .grid-entrantes-wrapper {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 993px){
          display: grid;
          grid-template-columns: 1.65fr 1fr 1fr; 
          grid-template-rows: auto auto; 
          gap: 6rem 10rem; 
          align-items: start; 
        }
      }
  
      .wrapper-entrantes1 {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 993px){
          grid-column: 1; /* Primera columna */
          grid-row: 1 / span 2; /* Ocupa las dos filas completas */
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin: 0; /* Sin márgenes */
          padding: 0; /* Sin rellenos */
        }
  
        p {
          margin-top: 0;
          margin-bottom: 2rem;
          @media screen and (min-width: 993px){
            margin-top: 0;
            margin-bottom: 4rem;
          }
        }
        .caption{
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
  
      .wrapper-seccion-entrantes2 {
        display: flex;
        flex-direction: column;
        grid-column: 2 / span 2; /* Ocupa la segunda y tercera columna */
        grid-row: 1; /* Primera fila */
        gap: 2rem 0;
        @media screen and (min-width: 993px){
          gap: 4.3rem 0;
        }
        .wrapper-entrantes2 {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          align-items: flex-end;
          
          img{
            margin-top: 0;
            @media screen and (min-width: 993px){
              margin-top: 0;
            }
          }
          .caption {
            text-align: right;
            max-width: 80%;
            order: 2;
            margin-top: -1rem;
            @media screen and (min-width: 993px){
              max-width: 50%;
              margin-top: 0;
              order: 1;
            } 
          }
        }
  
        .wrapper-entrantes3 {
          grid-column: 2 / span 2; /* Abarca las dos columnas derechas */
          grid-row: 2; /* Segunda fila */
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 1rem;
  
          .entrantes3-box1 {
            align-self: flex-end;
            img {
              height: 21rem; /* Ajustar la altura de las imágenes */
              width: auto;
            }
  
            .caption {
              max-width: 20rem; /* Limitar el ancho de las captions */
            }
          }
          .entrantes3-box2 {
            img {
              height: 27.5rem; /* Ajustar la altura de las imágenes */
              width: auto;
              margin-top: 0;
            }
            .caption {
              max-width: 30rem; /* Limitar el ancho de las captions */
              text-align: right;
            }
          }
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  
  .degustacion-platos {
    .container {
      display: flex;
      flex-direction: row;
      gap: 5%;
      @media screen and (min-width: 993px){
        display: grid;
        grid-template-columns: 1fr; // Diseño base: Una sola columna
        grid-template-rows: auto; // Ajusta las filas automáticamente
        height: auto;
        gap: 0;
      }


      h2 {
        margin-bottom: 1.5rem;
        @media screen and (min-width: 1257px){
          margin-bottom: 2rem;
        }
      }
  
      // Configuración general para elementos
      .box-texto {
        grid-column: 1 / 2; // Ocupa toda la fila
        grid-row: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0;
        width: 50%;
        @media screen and (min-width: 993px){
          width: 100%;
        }
  
        p {
          margin-bottom: 2rem;
        }
  
        .caption {
          margin-top: 1rem;
          text-align: left;
        }
      }
  
      .box-imagenes1 {
        display: none; // Oculto por defecto para pantallas pequeñas
  
        img {
          max-width: 100%;
          height: auto;
        }
      }
  
      .box-imagenes2 {
        grid-column: 1 / 2; // Ocupa toda la fila
        grid-row: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        @media screen and (min-width: 993px){
          margin-top: 2rem;
          width: 100%;
        }
        .caption {
          margin-bottom: 1rem;
          text-align: left;
          order: 2;
          @media screen and (min-width: 993px){
            order: 1;
            margin-top: 5rem;
          }
          @media screen and (min-width: 1257px){
            margin-top: 0;
          }
        }
  
        img {
          max-width: 100%;
          height: auto;
          order: 1;
          @media screen and (min-width: 993px){
            order: 2;
          }
        }
      }
  
      // Diseño para pantallas grandes (min-width: 993px)
      @media (min-width: 993px) {
        grid-template-columns: 45% 15% 1fr; // Tres columnas
        grid-template-rows: 1fr; // Una fila fija
        gap: 2rem;

        .container{
          gap: 2rem;
        }
  
        .box-texto {
          grid-column: 1 / 2; // Primera columna
          grid-row: 1;
          margin-top: -1rem;
          @media screen and (min-width: 993px){
            margin-top: 0;
          }
        }
  
        .box-imagenes1 {
          display: flex; // Se muestra en pantallas grandes
          grid-column: 2 / 3; // Segunda columna
          grid-row: 1;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          margin-top: 18.8rem;
          @media screen and (min-width: 993px){
            margin-top: 15.2rem;
          }
  
          img {
            width: 100%;
            height: auto;
          }
        }
  
        .box-imagenes2 {
          grid-column: 3 / 4; // Tercera columna
          grid-row: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          margin-top: -3.5rem;
          @media screen and (min-width: 993px){
            margin-top: -7rem;
          }
  
          .caption {
            margin-bottom: 1rem;
            text-align: right;
          }
        }
      }
    }
  }
  